<div id="assignment-show-message-container" class="max-w-xl">
  <% if assignment.pending_review? %>
    <div class="notice border-container-green">
      <span class="text-green-900">
        <i class="fas fa-bell"></i></span><span class="ml-2 text-gray-700">
        This assignment is currently under review by a Captain.
      </span>
    </div>
  <% elsif assignment.failed? %>
    <div class="alert border-container-red">
      <span class="text-red-900">
        <i class="fas fa-exclamation-circle fa-lg"></i></span><span class="ml-2 text-gray-700">
        This assignment has been marked failed a Captain.
      </span>
    </div>
  <% elsif assignment.complete? %>
    <div class="notice border-container-green">
      <span class="text-green-900">
        <i class="fas fa-bell"></i></span><span class="ml-2 text-gray-700">
        This assignment has been marked complete by a Captain. Nice work!
      </span>
    </div>
  <% end %>
</div>
