<div class="pt-2 pb-4">
  <div class="max-w-7xl">
    <h1 class="text-3xl font-black text-gray-900">Assign a task</h1>
  </div>
</div>

<%= render 'form', assignment: @assignment %>

<%= link_to 'Back', assignments_path %>
