<div class="pt-2 pb-4">
  <div class="max-w-7xl">
    <h1 class="text-3xl font-black text-gray-900">Assign a Chore</h1>
  </div>
</div>

<%= render 'form', assigned_chore: @assigned_chore %>

<%= link_to 'Back', assigned_chores_path %>
