<div class="pt-2 pb-4">
  <div class="max-w-7xl">
    <h1 class="text-3xl font-black text-gray-700">Chores</h1>
  </div>
</div>

<div class="flex flex-col mb-4">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
              <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Assigned To</th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @chores.each do |chore| %>
            <!-- TODO: update with striping -->
            <!-- Even row -->
            <!-- <tr class="bg-gray-50"> -->
              <tr class="bg-white">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= chore.name %></td>
                <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">user icon</td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <%= link_to 'Edit', edit_chore_path(chore), class: "text-indigo-600 hover:text-indigo-900" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Chore actions: Add Chore and Assign Chore -->
<% if current_user.admin? %>
  <div class="pb-4 text-right">
    <%= link_to "Create Chore", new_chore_path, class: "btn btn-green mx-2" %>
    <%= link_to "Assign Chore", new_assigned_chore_path, class: "btn btn-blue mx-2" %>
  </div>
<% end %>
