<div class="pt-2 pb-4">
  <div class="max-w-7xl">
    <h1 class="text-3xl font-black text-gray-700">New Chore</h1>
  </div>
</div>

<%= render 'form', chore: @chore %>

<%= link_to 'Back', chores_path %>
